%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{deps, [
    { lager, "(2.0|2.1|2.2).*", { git, "git://github.com/basho/lager.git", { tag, "2.2.0" } } }
   ]}.

{erl_opts, [warnings_as_errors, {parse_transform, lager_transform}]}.
{ erl_first_files, ["src/eimap_command.erl"] }.
{sub_dirs, [
    "src",
    "rel",
    "tests"
 ]}.
{cover_enabled, true}.

%%{require_otp_vsn, "17"}.
{pre_hooks, [{clean, "rm -rf ebin priv erl_crash.dump"}]}.

